/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */
/* General */
.submit-entry-container{
    position: absolute;
    top: 30%;
}

.text-error{
    font-family: 'Quicksand Bold';
    color: var(--strong-blue);
    margin: 2% auto;
}

input::placeholder{
    font-family: 'Quicksand Light';
    color: var(--translucent-dark);
}

input:focus{
    color: var(--off-black);
    border-bottom: 1px solid var(--off-black);
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

.container-entry-info{
    margin: 2% auto;
}

.entry-input-label{
    font-family: 'Quicksand Bold';
    color: var(--off-black);
    padding-right: 2%;
}

input{
    width: 80%;
    color: var(--translucent-dark);
    border: 0;
    background-color: var(--transparent);
}

.entry-date{
    width: 50%;

    color: var(--off-black);
    font-family: 'Quicksand';
}
.entry-date::placeholder{
    font-family: 'Quicksand Light';
    color: var(--translucent-dark);
}

.entry-note-input{
    display: block;
    height: 30%;
    width: 100%;
    padding-right: 2%;

    resize: none;
    overflow: hidden;

    color: var(--off-black);
    font-family: 'Quicksand';
    font-size: 1rem;

    border: 0;
    background-color: var(--transparent);
}

.entry-entry-text{
    position: absolute;
    top: -50%;
    right: -155%;

    display: block;
    height: 260%;
    width: 120%;

    resize: none;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;

    color: var(--off-black);
    font-family: 'Quicksand';
    font-size: 1rem;
    line-height: 1.0;
    text-align: left;

    border: 0;
    background-color: var(--transparent);
}

.entry-entry-text::placeholder{
    font-family: 'Quicksand Bold';
}