/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Section container */
.header-log-section{
  position: relative;
  display: block;
  float: left;
  height: auto;
  width: 20%;
}

/* App name next to logo */
.header-log-out{
  height: auto;
  width: 80%;

  color: var(--off-white);
  font-family: 'QuickSand Bold';
  font-size: 1rem;
  font-weight: 800;
  text-decoration: underline;
  text-align: right;
  }

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */
  