/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Loading fonts */
@font-face {
    font-family: "Frenchpress";
    src: url(assets/fonts/frenchpress-heading.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "QuickSand";
    src: url(assets/fonts/quicksand-regular-bodytext.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "QuickSand Light";
    src: url(assets/fonts/quicksand-light-bodytext.ttf) format("truetype");
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: "QuickSand Bold";
    src: url(assets/fonts/quicksand-bold-subheading.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Basics and defaults */
:root {
    /* Colors - Basics */
    --off-black: #2d033b;
    --off-white: #f5edf7;

    --light-blue: #6dc2ff;
    --strong-blue: #544cd0;
    --darker-blue: #400b96;
    --galactic-purple: #5a0aaa;
    --night-indigo: #381b67;

    --page-beige: #f9e9e0;
    --page-shadow: #ae9dad;

    /* Colors: Journal*/
    --journal-cover-sides: #3a1f5c;
    --journal-cover-middle: #1e1e1e;
    --journal-core: #15061a;

    /* Colors: Transparency */
    --translucent-white: #def1ffcb;
    --translucent-dark: #2d033b96;
    --transparent: rgba(0, 0, 0, 0);

    /* Typography default */
    font-family: "QuickSand", Roboto, sans-serif;
    color: var(--off-black);
    font-size: 0.8rem;
}
/* Selection color */
::selection {
    color: var(--off-white);
    background: var(--galactic-purple);
}

/* Remove default focus/hover black outline*/
*,*:focus,*:hover{
    outline:none;
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Website body */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background-image: url("assets/background/cosmic_connections_background.png");
    background-size: cover;
    background-repeat: initial;
    background-position: center;

    overflow-x: hidden;
    overflow-y: hidden;
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Subheading */
h4 {
    font-family: "QuickSand Bold";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Paragraph */
p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: "Quicksand";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

.top-header {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    height: 70px;
    width: 100%;
    max-width: 100vw;
    padding: 5px 15px;
    margin: 0;
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Journal decor */
.journal-cover {
    display: block;

    position: absolute;
    bottom: 7%;
    right: 12.7%;
    z-index: 2;

    height: 60%;
    width: 44%;
    padding: 5% 10%;
    margin: 0;

    background: linear-gradient(
        90deg,
        var(--journal-cover-sides) 0%,
        var(--journal-cover-middle) 50%,
        var(--journal-cover-sides) 100%
    );
}

.journal-core {
    display: block;

    position: absolute;
    top: 0;
    left: 47.5%;
    z-index: 3;

    height: 100%;
    width: 5%;
    margin: 0 auto;

    background-color: var(--journal-core);
}

.page-left {
    display: inline-block;

    position: absolute;
    bottom: 9%;
    left: 25%;
    z-index: 5;

    height: 69%;
    width: 26%;
    padding: 2%;
    margin: 0;

    background: var(--page-beige);
}

.page-right {
    display: inline-block;

    position: absolute;
    bottom: 9%;
    right: 14.5%;
    z-index: 4;

    height: 69%;
    width: 26%;
    padding: 2%;
    margin: 0;

    background: var(--page-beige);
    border-left: 10px solid var(--page-shadow);
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

/* Entry preview styling */
.entry-preview {
    height: 10%;
    margin: 2% 0;
    cursor: pointer;
}

.entry-preview-info {
    display: block;
    margin: auto;
}

.entry-preview-icon {
    display: inline-block;

    height: 10px;
    width: auto;
    margin-bottom: -0.5%;
    margin-right: 5%;

    fill: var(--transparent);
    stroke: var(--translucent-dark);
    stroke-width: 0.07rem;
}

.entry-preview hr {
    margin-top: 3%;
    width: 100%;
    border-top: 1px solid var(--translucent-dark);
}

.entry-preview h4 {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;

    height: auto;
    width: 70%;
    margin: auto;

    color: var(--off-black);
    font-family: "QuickSand Bold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.entry-preview p {
    display: block;
    float: right;
    align-content: center;

    height: auto;
    width: 30%;

    font-family: "Quicksand";
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    color: var(--translucent-dark);
}

/* ° ✧ ~ ✩ ° ✦ ~° ✷ °~ ✦ ° ✩ ~ ✧ ° */

